<div id='error-modal' class='modal'>
  <div class='modal-content'>
    <h5 class='error-msg'></h5>
    <div id='error-details'>
    </div>
  </div>
  <div class='modal-footer'>
    <a class='error-modal-close btn'>OK</a>
  </div>
</div>