<div class='add-post-frame'>
    <div class='add-post-frame-header'><span class='headline'>Create New Post</span>
        <div>
            <form class='form add-post-form'>
                <div>
                    <div class='label-area'>
                        <label for='title'>Title</label>
                    </div>
                    <div class='input-field'>
                        <input id='title' type='text' class='validate'>
                    </div>
                    <div class='label-area'>
                        <label for='content' class='validate'>Content</label>
                    </div>
                    <div class='text-field'>
                        <textarea id='content' rows='4'></textarea>
                    </div>
                    <button class='add-btn submit'>Create!</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src='/js/addpost.js'></script>
