<div class='frame'>
  <div class='frame-header'><span class='headline'>Login</span></div>
  <div>
    <form class='form login-form'>
      <div>
        <div class='label-area'>
          <label for='username'>Username</label>
        </div>
        <div class='input-field'>
          <input id='username' type='text' class='validate' />
        </div>
        <div class='label-area'>
          <label for='password' class='validate'>Password</label>
        </div>
        <div class='input-field'>
          <input id='password' type='password' class='validate' />
        </div>
        <button class='btn submit'>Login!</button>
        <div class='link'>
          <a href='/signup'>Sign up instead</a>
        </div>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>