<div class='frame'>
  <div class='frame-header'><span class='headline'>Sign Up</span></div>
  <div>
    <form class='form signup-form'>
      <div>
        <div class='label-area'>
          <label for='username'>Username</label>
        </div>
        <div class='input-field'>
          <input id='username' type='text' class='validate' />
        </div>
        <div class='label-area'>
          <label for='password' class='validate'>Password</label>
        </div>
        <div class='input-field'>
          <input id='password' type='password' class='validate' />
        </div>
        <button class='btn submit'>Sign Up!</button>
        <div class='link'>
          <a href='/login'>Login instead</a>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Modal to display error msg -->
{{>errormodal}}

<script src='/js/signup.js'></script>